@import "tailwindcss";

@theme {
    --color-background: #09090b;
    --color-primary: #FFFFFF;
    --color-secondary: #AAAAAA;
    --color-accent: #F84C4C;
    
    --font-bebas: var(--font-bebas), sans-serif;
    --font-barlow: var(--font-barlow), sans-serif;
}

@utility debug-layout {
    & * {
        outline: 1px solid #ef4444 !important;
        /* Bright Red outline */
        background-color: rgba(239, 68, 68, 0.05) !important;
        /* Subtle translucent red tint */
    }
}